@{
    ViewData["Title"] = "Yapraklı Bitkiler";
}

<h2 class="mb-4">Yapraklı Bitkiler</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Kart 1 -->
    <div class="col">
        <div class="card shadow-sm h-100">
            <img src="" class="card-img-top" alt="Yaprakli 1">
            <div class="card-body">
                <h5 class="card-title text-center">Yapraklı 1</h5>
                <ul class="list-group list-group-flush mb-3">
                    <li class="list-group-item"> Özellik 1</li>
                    <li class="list-group-item"> Özellik 2</li>
                    <li class="list-group-item"> Özellik 3</li>
                </ul>
                <button class="btn btn-success w-100">Bitkilerime Kaydet</button>
            </div>
        </div>
    </div>

    <!-- Kart 2 -->
    <div class="col">
        <div class="card shadow-sm h-100">
            <img src="" class="card-img-top" alt="Yaprakli 2">
            <div class="card-body">
                <h5 class="card-title text-center">Yapraklı 2</h5>
                <ul class="list-group list-group-flush mb-3">
                    <li class="list-group-item"> Özellik 1</li>
                    <li class="list-group-item"> Özellik 2</li>
                    <li class="list-group-item"> Özellik 3</li>
                </ul>
                <button class="btn btn-success w-100">Bitkilerime Kaydet</button>
            </div>
        </div>
    </div>

    <!-- Kart 3 -->
    <div class="col">
        <div class="card shadow-sm h-100">
            <img src="" class="card-img-top" alt="Yaprakli 3">
            <div class="card-body">
                <h5 class="card-title text-center">Yapraklı 3</h5>
                <ul class="list-group list-group-flush mb-3">
                    <li class="list-group-item"> Özellik 1</li>
                    <li class="list-group-item"> Özellik 2</li>
                    <li class="list-group-item"> Özellik 3</li>
                </ul>
                <button class="btn btn-success w-100">Bitkilerime Kaydet</button>
            </div>
        </div>
    </div>
</div>
